<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand d-flex mx-auto justify-content-center">Update Peanut Butter Sandwich Menu</a>
    </nav>
    <br>    
<form action="/action_page.php">
    <label for="Menu: ">Menu Name: </label>
    <input type="text" id="Menu" name="Menu" value="Peanut Butter Sandwich"><br>
    <label for="Menu_Type" value="Morning Snack">Menu Type: </label>
    <select id="Menu_Type" name="Menu_Type">
        <option value="option1">Morning Snack</option>
        <option value="option2">Lunch</option>
        <option value="option3">Afternoon Snack</option>
    </select>
<br>
    <br>
    <input type="submit" value="Update">
</form> 
</body>
</html>