<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand d-flex mx-auto justify-content-center">MENU FORM</a>
    </nav>
    <br>    
    <form method="post">
        <label for="m_name">Menu Name :</label>
        <input type="text" id="m_name" name="m_name" required>
        <br>
    
        <label for="m_type">Type : </label>
        <select id="m_type" name="m_type">
            <option value="morning snack">morning snack</option>
            <option value="lunch">lunch</option>
            <option value="afternoon snack">afternoon snack</option>
        </select>
        <br>
    
        <input id="submit" type="submit" value="ADD">
    </form>
</body>
</html>